@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
}

:root {
    --color-gray-500: #888888;
    --color-primary-600: red;
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background: linear-gradient(#3956EDFF, #4C030359);*/
    color: #090150FF;
    min-height: 100vh;
    margin: auto;
}




h1 {
    text-align: center;
    text-transform: uppercase;
    color: #090150FF;
    text-shadow: 0 0 4px rgba(35, 34, 34, 0.4);
    font-size: 2.5rem;
    margin: 0;
}

main {
    min-height: 70vh;
    box-shadow: var(--box-shadow);
    /*    max-width:1200px;
    margin:auto;
    padding:10px;*/
}

#modal {
    width: 30%;
    background: #d3b17b;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
}

    #modal::backdrop {
        background: rgba(0, 0, 0, 0.65);
    }

    #modal h2 {
        font-size: 1.5rem;
        color: #4f3807;
        text-transform: uppercase;
        margin: 0;
    }


    #modal form {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        align-items: center;
    }

        #modal form button {
            background: transparent;
            border: none;
            border-radius: 5px;
            color: #201e1a;
            cursor: pointer;
            font-size: 1.1rem;
        }

            #modal form button:hover {
                color: #453719;
            }

            #modal form button:last-of-type {
                background: #271e07;
                border: none;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                color: #f9efda;
                font-size: 1rem;
                cursor: pointer;
            }

                #modal form button:last-of-type:hover {
                    background: #382e1b;
                }

#checkout {
    animation: fade-slide-in-from-right 0.3s ease-in-out;
}

    #checkout label {
        display: block;
        margin-bottom: 0.5rem;
    }

    #checkout input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        margin-bottom: 1rem;
    }
/*
@keyframes fade-slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-slide-in-from-right {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}*/
