.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 15%;
    background: linear-gradient(#3956EDFF, #4C030359);
}


.title {
    display: flex;
    align-items:center;
    flex-direction:row;
    flex-grow:1;
}
.headerleft {
    display:flex;
    align-items: flex-end;
}

    .main-image {
        width: 5rem;
        margin-right: 1.5rem;
    }

  .headerimage {
    width: 200px;
    height: auto;
    z-index: 0;
    overflow: hidden;
  }


/* Navigation styling */
nav {
    background-color: #92C6F8FF;
    color: #090150FF;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

    nav ul li a {
        text-decoration: none;
        font-size: 1.25rem;
        zbackground-color: var(--color-gray-500);
        color: var(--color-gray-900);
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
    }


.inactivelink{
    text-decoration: none;
color: red;
}

.active {
    font-weight:bold;
    text-decoration: none;
}

.logoName {
    text-decoration: none;
    display: flex;
    align-items: center;
}
